/* signika-regular - latin */
@font-face {
    font-family: 'Signika';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('./assets/fonts/signika-v18-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('./assets/fonts/signika-v18-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* signika-700 - latin */
  @font-face {
    font-family: 'Signika';
    font-style: normal;
    font-weight: 700;
    src: local(''),
         url('./assets/fonts/signika-v18-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('./assets/fonts/signika-v18-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
html {
    box-sizing: border-box;
}
*, ::before, *::after {
    box-sizing: inherit;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    min-height: 100vh;
    margin: 0;
    padding: 0;
    font-family: 'Signika';
    font-style: normal;
    font-size: 18px;
    font-weight: 400;
    line-height: 36px;
    background-color: #b4b4b4;
    
}
.wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
}
.audio-player {
    position: relative;
    background: #333;
    border-radius: 30px;
    max-width: 400px;
    width: 100%;
    padding: 25px;
    box-shadow: 0 8px 17px 0 rgba(0,0,0,.2),0 6px 20px 0 rgba(0,0,0,.19);
	overflow: hidden;
    z-index: 1;
}
.overlay-image {
	position: absolute;
	width: 100%;
	height: 100%;
	opacity: .6;
	top: 0;
    left: 0;
	z-index: -2;
	filter: blur(4px);
    background-image: url(./assets/img/cover1.png);
    background-repeat: no-repeat;
    background-size: 160% auto;
    
}

.current-desc {
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    color: #ffffff;
}
.current-cover {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    margin-bottom: 25px;
}
.current-song {
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    color: #ffffff;
    text-align: center;
}
.current-performer {
    font-size: 20px;
    font-weight: 400;
    color: #000000;
    text-align: center;
}
.progress-container {
    display: flex;
    align-items: center;
    width: 100%;
    border-radius: 5px;
    height: 10px;
    background-color: #000000;
    margin-top: 5px;
    cursor: pointer;
    
}
.progress-line {
    border-radius: 5px;
    height: 6px;
    background-color: #ffffff;
}

.time {
    display: flex;
}
.current-time {
    color: #fecb00;
}
.duration {
    color: #fecb00;
}
.player-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 250px;
    width: 100%;
    margin: 0 auto;
    margin-top: 40px;
}
.button {
    cursor: pointer;
}
.cover-img {
    border: 35px solid #000;
    border-radius: 50%;
}
.cover-img.active {
    animation: 7s rotateAnimation infinite linear;
}
@keyframes rotateAnimation {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}
.time {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
}
.footer-gh {
    width: 282px;
}
.footer-gh-list {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
}
.footer-gh-item {
    margin-right: 20px;
    list-style: none;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 50px;
    color: #000;
}
.footer-gh-item:last-child {
    margin-right: 13px;
}
.footer-gh-link,
.footer-rs-link {
    text-decoration: none;
    color: #000;
}
.footer-gh-link:hover,
.footer-gh-link:focus,
.footer-rs-link:hover,
.footer-rs-link:focus {
    color: #fecb00;
    transition: .3s;
}

.footer-rs-link {
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 50px;
    color: #000;
}

.footer-rs-disc {
    margin: 0;
}
.footer-year {
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 50px;
    color: #000;
}
